node_modules/
tmp/
dist/
coverage/
*.log

.idea/
*.iml
target/

_api/go-sdk/**/*.go
_api/java-sdk/src
_api/kotlin-sdk/src
_api/node-sdk/src/*.ts
_api/node-sdk/src/**/*.ts
_api/web-sdk/src/*.ts
_api/web-sdk/src/**/*.ts